@use "../../stylesheet/variables" as v;

.left_nav{
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
    height: 100vh;
    width: 7vw;
    background-color: v.$color-bgnav;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    .left_nav_links{
        display: flex;
        color: v.$text-light;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-inline-start: 0;
            li{
                list-style-type: none;
                margin-bottom: 2rem;
                .icon_tab{
                    border-radius: 10px;
                    svg{
                        color: v.$color-primary;
                        padding: 1rem;
                        font-size: 6rem;
                    }
                }
            }
        }
    }
}