@use './variables' as v;
@use "./reset";
@use './mixins' as m;

#root {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main_content {
  width: 95vw;
  height: calc(100vh - 80px); 
  margin: 0 auto;
  margin-left: 7vw;
  margin-top: 80px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: 
    "user_header user_header user_header user_header"
    "user_daily_activity user_daily_activity user_daily_activity user_nutrition"
    "user_sessions_length user_radar_graph user_score user_nutrition";
  gap: 10px; 
  padding: 20px; 
  font-family: v.$font-roboto;
}

.user_daily_activity,
.user_radar_graph,
.user_score,
.user_nutrition,
.user_sessions_length {
  display: flex;
  flex-direction: column;
}


.user_header {
  grid-area: user_header;
  padding: 10px;
  h1{
    @include m.title(3.5rem, bold);
    .user_first_name{
      color : v.$color-primary;
    }
  }
  p{
    @include m.text(1.5rem);
    margin-top: 0.5rem;
  }
}

.user_nutrition {
  grid-area: user_nutrition;
  border-radius: 5px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}




