@use './variables' as v;
@use "./reset";
@use './mixins' as m;

#root {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main_content {
  width: calc(95vw - 9vw);
  margin: 0 auto;
  height: 95vh; 
  // width: 100%;
  margin-left: 9vw;
  margin-top: 80px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: 
    "user_header user_header user_header user_header"
    "user_daily_activity user_daily_activity user_daily_activity user_nutrition"
    "user_sessions_length user_radar_graph user_score user_nutrition";
  gap: 10px; 
  padding: 10px; 
  font-family: v.$font-roboto;

}

.user_daily_activity .daily_activity_barchart, 
.user_sessions_length,
.user_radar_graph,
.user_score, 
.user_nutrition {
  height: 100%;
}

.user_header {
  grid-area: user_header;
  padding: 10px;
  h1{
    font-size: 3.5rem;
    margin: 0;
    .user_first_name{
      color : v.$color-primary;
    }
  }
  p{
    font-size: 1.5rem;
    margin: 0;
    margin-top: 0.5rem;
  }
}

.user_daily_activity {
  grid-area: user_daily_activity;
  padding: 10px;
  background-color: #FBFBFB;
  border-radius: 5px;
  .daily_activity_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    h2{
      font-size: 1.5rem;
    }
    .weight_kcal{
      display: flex;
      width: 40%;
      align-items: center;
      justify-content: space-between;
      .weight, .kcal {
        display: flex;
        align-items: center;
        p{
          font-size: 1.2rem;
          color: v.$text-mid;
        }
      }
      .weight_dot{
        color: v.$text-dark;
        font-size: 2.5rem;
      }
      .kcal_dot{
        color: v.$color-primary;
        font-size: 2.5rem;
      }
    }
  }
  .daily_activity_barchart{
    height: 200px;
    .custom-tooltip {
      background-color: v.$color-primary;
      padding: 10px;
      color: v.$text-light;
      position: relative;
      transform: translateY(-40px);
      p{
        font-size: 0.7rem;
        font-weight: 700;
      }
  }
}
}

.user_sessions_length {
  grid-area: user_sessions_length;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  height: 220px;
  h3{
    position: absolute;
    top:0;
    left: 1rem;
    font-size: 1.2rem;
    width: 40%;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
  }
}


.user_radar_graph {
  grid-area: user_radar_graph;
  background-color: #282D30;
  padding: 10px;
  border-radius: 5px;
  height: 220px;
}

.user_score {
  grid-area: user_score;
  padding: 10px;
  background-color: #FBFBFB;
  border-radius: 5px;
  height: 220px;
  h3{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .obj_text{
    color: v.$text-mid;
    font-size: 1.2rem;
  }
}

.user_nutrition {
  grid-area: user_nutrition;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 340px;
}




