@use "../../stylesheet/variables" as v;
@use "../../stylesheet/mixins" as m;

.user-nutrition-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include m.container();
    .icon_tab{
        border-radius: 10px;
        svg{
          @include m.text(3rem, v.$color-primary);
          margin: 1.5rem;
        }
    }
  
    .nutrition-info {
      margin-left: 20px;
      .nutrition-value {
        @include m.text(1.5rem, v.$text-dark);
        font-weight: bold;
      }
      .nutrition-label {
        @include m.text(1rem);
        margin-top: 1rem;
      }
    }
  }