@use '../../stylesheet/variables' as v;
@use "../../stylesheet/reset";
@use '../../stylesheet/mixins' as m;

.user_sessions_length {
    grid-area: user_sessions_length;
    @include m.container(v.$color-primary);
    position: relative;
    height: 220px;
    h3{
      @include m.title(1.2rem);
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 40%;
      color: rgba(255, 255, 255, 0.6);
    }
  }