@use '../../stylesheet/variables' as v;
@use "../../stylesheet/reset";
@use '../../stylesheet/mixins' as m;

.user_radar_graph {
  grid-area: user_radar_graph;
  @include m.container(#282D30);
  flex: 1;
  .recharts-polar-angle-axis-tick-value tspan{
    font-weight: bold;
    font-size: 0.9rem;
  }
}